.background{
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100vw;    
    height: 100vh;    
    object-fit: cover; 
    z-index: -1;      
}

.matching-page-header{
    font-family: 'DO Futuristic', sans-serif;
    color: #FFF1EB;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.matched-message-container{
    margin-bottom: 3em;
}

.matched-message{
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: #FFF1EB;
    display: grid;
    grid-template-columns: 1fr;
}

.profile-match-container{
    position: relative;
    font-family: "Orbitron", sans-serif;
    color: #FFF1EB;
    background-color: rgb(39, 71, 110, .9);
    border: solid 1px #FFF1EB;
    height: 625px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2.5em;
}

.banner-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
    z-index: 0;
}

.banner-pic{
    width: 100%;
    height: 125px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.profile-pic{
    position: relative;
    z-index: 1;
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: 1.5em 11em;
}

.profile-name-header{
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
    margin-top: 2em;
    text-align: center;
}

.games-matching-container{
    text-align: center;
    margin-top: 1em;

}

.games-headline{
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
}

.bio-header{
    font-family: "Orbitron", sans-serif;
    font-size: 22px;
}

.bio-container{
    text-align: center;
    margin-top: 1em;
}

.matching-page-btn-container{
    display: flex;
    justify-content: center;
}

.match-btn{
    font-size: 16px;
    margin-bottom: 4em;
    width: 100px;
}

.skip-btn{
    font-size: 16px;
    margin-bottom: 4em;
    width: 100px;
}

.loading-msg{
    text-align: center;
    font-family: 'DO Futuristic', sans-serif;
    font-style: bold;
    color: #FFF1EB;
    font-size: 25px;
}
