.matching-page-header{
    font-family: 'DO Futuristic', sans-serif;
    color: #FFF1EB;
    text-align: center;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.matched-message-container{
    margin-bottom: 3em;
}

.matched-message{
    text-align: center;
    font-family: "Orbitron", sans-serif;
    color: #FFF1EB;
    display: grid;
    grid-template-columns: 1fr;
}

.profile-match-container{
    font-family: "Orbitron", sans-serif;
    color: #FFF1EB;
    background-color: rgb(39, 71, 110);
    border: solid 1px #FFF1EB;
    height: 600px;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 2.5em;
}

.profile-pic{
    border-radius: 100px;
    height: 150px;
    width: 150px;
    margin: 1.5em 11em;
}

.profile-name-header{
    font-family: "Orbitron", sans-serif;
    font-size: 30px;
    margin-top: 2em;
    text-align: center;
}

.games-matching-container{
    text-align: center;
    margin-top: 2em;
}

.bio-container{
    text-align: center;
    margin-top: 2em;
    padding: 1em 3em;
}

.matching-page-btn-container{
    display: flex;
    justify-content: center;
}

.match-btn{
    font-size: 15px;
    margin-bottom: 4em;
}

.skip-btn{
    font-size: 15px;
    margin-bottom: 4em;
}

