video{
    width: 100vw;
    height: 33vh;
    object-fit: cover;
 }

.about-page-header{
    font-family: 'DO Futuristic', sans-serif;
    font-size: 50px;
    color: #FFF1EB;
    text-align: center;
    margin-top: 2em;
    position: absolute;
    height: 25vh;
    width: 100vw;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.team-container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 4em;
    font-family: "Orbitron", sans-serif;
    color: #FFF1EB;
    margin-left: 2em;
    margin-right: 2em;
    height: 450px;
}
h3{
    font-family: 'DO Futuristic', sans-serif;
    margin-bottom: 1.5em;
}

.luke-container{
    background-color: rgb(39, 71, 110);
    border-radius: 10px;
    margin-right: .5em;
}

.jenn-container{
    background-color: rgb(39, 71, 110);
    border-radius: 10px;
    margin-right: .5em;
}

.noshin-container{
    background-color: rgb(39, 71, 110);
    border-radius: 10px;
    margin-right: .5em;
}

.niles-container{
    background-color: rgb(39, 71, 110);
    border-radius: 10px;
}

.team-img{
    border-radius: 100px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.team-role{
    margin-top: 1em;
    margin-bottom: 1em;
}

.team-role-two{
    margin-top: 1em;
    margin-bottom: 1em;
}

.fav-mg{
    margin-bottom: 1em;
}