

/* .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -moz-fit-content;
    width: 30%;
    margin: 70px auto 0;
    padding: 40px;
    border-radius: 8%;
    background-color: #27476eb0;
} */

.register-form .input-title {
    font-size: 15px; /* Adjust the font size as needed */
    color: rgb(255, 255, 255);
}

.register-form input {
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
    box-sizing: border-box;
    background-color: #3c6495;
    color: white;
    border-style: none;
    border-radius: 5px;
}

.register-title {
    color: white;
    margin: 10px;
    font-size: 30px;
}

.input-title {
    color: white;
}

.input-box {
    margin: 10px;
}
.register-button {
    font-size: 16px;
    height: 42px;
    border-radius: 4px;
    background-color: #08a6ff;
    border: none;
    width: 150px;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
    /* position: absolute; */
}

/* .icon-controller {
    width: 60px;
} */

.create-account-title {
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.register-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -moz-fit-content;
    margin: 0 auto 0;
    padding: 10%;
    border-radius: 8%;
    background-image: url("../../assets/NINTENDOSWITCH.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-controller {
    position: absolute;
    top: 15px;
    left: 25px;
    width: 60px;
    z-index: 1;
}


::placeholder{
    color: white;
}

.register-error {
    color: #b13730;
    text-align: center;
}

.register-button:hover {
    background-color: #D8315B; /* Background color on hover */
}

.terms {
    width: 50%px;
    font-size: smaller;
    color: rgb(234, 212, 212);
}

.privacy {
    margin-top: 5px;
    width: 50%px;
    font-size: small;
    color: rgb(234, 212, 212);

}

.underline {
    text-decoration: underline;
}

.pink-controller {
    object-fit: cover;
    position: absolute;
    width: 80vw;
    height: auto;
    bottom: 0;
    right: 0;
    transform: rotate(-10deg); /* Adjust the angle as needed */
}

/* .nintendo-container {
    display: flex;
    justify-content: center;
} */

/* .nintendo-switch {
    width: 75vw;
    height: auto;
    margin: auto 0;
    position: absolute;
    display: block;
} */

@keyframes blink {
    from{
        opacity: 0%;
     }
     to{
         opacity: 100%;
      }
  }


.type-writer {
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

.type-writer::after{
    content: "|";
    animation: blink 1s infinite;
 }

 .faketerms {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(39, 71, 110);
    padding: 15px;
 }

 .Steven-Is-Numer-1 {
        display: flex;
        /* width: 90%; */
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
 }

 .something {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
 }

 p.register-error {
    font-weight: bold;
    font-style: italic;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
 }